* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray-dark);
    color: white;
    /* background-color: whitesmoke; */
    /* color: black; */
}

a {
    text-decoration: none;
}


:root {
    --gray-dark: #343a40;
    --brdRadius: 40px;
    --primaryRed: #ad0014;
}

.mainPage {
    display: flex;
    justify-content: center;

}


a:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 1px rgb(235 13 13);

}

#btn1:hover {
    box-shadow: inset 0 0 30px 1px rgb(36, 3, 3);
}


.adContainer {
    position: relative;
    border-radius: var(--brdRadius);
    overflow: hidden;
    margin: 30px;
    width: 100%;
    /* box-shadow: 0 0 30px 1px rgb(235 13 13); */

}

#backdrop {
    width: 100%;
    height: 500px;

}

.titleContainMobile {
    display: none;
}


#title {
    position: absolute;
    height: 60px;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 65px;
    background-color: transparent;
    z-index: 11;
}

#car {
    position: absolute;
    left: 0;
    background-color: transparent;
    z-index: 9;
}

#carMobile {
    background-color: transparent;
    display: none;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6054796918767507) 57%, rgba(255, 255, 255, 0) 100%);
    /* background: black */
}

.containBtnSlogan {
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 10%;
    left: 50%;
    margin: 0 15px 0 0;
    /* border: solid 1pt red; */

}

#slogan {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 20pt;
    color: white;
    margin-bottom: 15px;
}

.btnContain {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}


.linkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-color: #ad0014;
    padding: 10px 20px;
    text-align: center;

    /* box-shadow: 0 0 10px 1px rgb(152, 152, 152); */
    font-size: 25pt;
}

#btn2 {
    color: white;
    background-color: transparent;
    border: 5pt solid var(--primaryRed);

}


@media (width >=1850px) {

    #title {
        height: 80px;
        top: 50%;
        margin-top: 0;
    }

    .containBtnSlogan {
        transform: translate(-50%, -50%);
        margin: 0;

        bottom: 0;
        left: 50%;
        width: 800px;



    }

    #slogan {
        font-size: 28pt;
        text-align: center;
    }

    .linkBtn {

        width: 300px;
    }
}

@media (width <=780px) {
    #title {
        display: none;
    }

    .containBtnSlogan {
        display: none;
    }

    .adContainer {
        position: relative;
        margin: 0;
        border-radius: 0;
        height: 500px;

    }

    #car {
        display: none;
    }

    #carMobile {
        position: absolute;
        bottom: 0;

        display: block;
        width: 100%;
    }

    .titleContainMobile {
        margin: 15px 0;
        display: block;
        position: absolute;
        background: transparent;
        z-index: 13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #titleMbl,
    #sloganMbl {
        background: transparent;
        font-size: 90%;
        width: 90%;
    }

    #sloganMbl {
        text-align: center;
        text-transform: uppercase;

    }

    .linkBtn {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 300%;
        z-index: 16;
        margin-top: 30px;
    }


    .gradient {

        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6054796918767507) 57%, rgba(255, 255, 255, 0) 100%);
    }


}







@media (width <=1200px) {
    #title {
        width: 90%;
    }

    .containBtnSlogan {
        position: absolute;
        transform: translate(-50%, -50%);
        margin: 0;
        top: 50%;
        left: 50%;
        width: 550px;


    }

}